<ion-header [translucent]="true" class="ion-header">
  <ion-toolbar>
    <ion-title>Novo Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false" [fullscreen]="true" class="ion-padding">
  <div class="addEventContainer">
    <div class="addEventInputGroup">
      <form>
        <ion-input
          label="Nome do Evento "
          placeholder="Ex: Evento livre"
          type="text"
          fill="outline"
          labelPlacement="floating"
        />
        <ion-input
          class="ion-margin-top"
          label="Endereço "
          placeholder="Ex: Rua, bairro, numero"
          type="text"
          fill="outline"
          labelPlacement="floating"
        />

        <ion-textarea
          label="Descrição do Evento "
          placeholder="Type something here"
          placeholder="Observações"
          type="text"
          fill="outline"
          labelPlacement="floating"
          class="ion-margin-top"
        >
        </ion-textarea>
        <ion-input
          class="ion-margin-top"
          label="Endereço "
          placeholder="Ex: Rua, bairro, numero"
          type="text"
          fill="outline"
          labelPlacement="floating"
        />

        <ion-accordion-group>
          <ion-accordion value="first" fill="outline" class="ion-margin-top">
            <ion-item slot="header" color="light">
              <ion-label>Selecionar Modo</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Modo Livre</div>
            <div class="ion-padding" slot="content">Modo Padrão</div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-button
          color="success"
          expand="block"
          class="login-button"
          class="ion-margin-top"
          [routerLink]="['/tab1-home']"
          routerLinkActive="router-link-active"
          >Cadastrar
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
