.image-resize {
  width: 50%; /* Define a largura desejada para a imagem */
  height: 50%; /* Define a altura desejada para a imagem */
  object-fit: cover; /* Mantém a proporção e corta a imagem para preencher o contêiner */
}
