<ion-header [translucent]="true" class="ion-header">
  <ion-toolbar>
    <div class="eventosContainer">
      <ion-title
        class="evento"
        [routerLink]="['/tab2-eventos']"
        routerLinkActive="router-link-active"
        >Eventos</ion-title
      >
      <ion-title
        class="evento"
        [routerLink]="['/meus-eventos']"
        routerLinkActive="router-link-active"
        >Meus Eventos</ion-title
      >
    </div>
  </ion-toolbar>
  <div class="toolbarline"></div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="eventCardContainer">
    <div class="imageContainer">
      <img src="/assets/fotoEvento2.jpg" alt="foto evento" />
    </div>
    <div class="eventDescription">
      <ul>
        <li>
          <h3>Baba na unit</h3>
        </li>
        <li>
          <h5>27 de abril, 19:00</h5>
        </li>
        <li>
          <h6>Local: Farolandia</h6>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
