<ion-card class="cardContainer">
  <div class="imageContainer">
    <img src="{{ imagem }}" alt="goleiro" />
    <div class="nomePosicao">{{ posicao }}</div>
  </div>

  <div class="addButton">
    <ion-fab-button>
      <ion-icon name="remove-outline" (click)="diminuirJogador()"></ion-icon>
    </ion-fab-button>

    <ion-item
      lines="full"
      class="item-has-focus ion-touched ion-valid"
      id="cardItem"
    >
      <span class="displayNumber">{{ totalJogador }}</span>
    </ion-item>

    <ion-fab-button>
      <ion-icon name="add" (click)="aumentarJogador()"></ion-icon>
    </ion-fab-button>
  </div>
</ion-card>
