//header
.headerContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.linkVoltar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin-left: 0.5rem;
}

.ionIconArrow {
  height: 100%;
}

.arrowBack {
  width: 2rem;
}

.linkVoltar a {
  text-decoration: none;
  color: var(--ion-color-success);
  font-size: 1.1rem;
}

.customIcon {
  font-size: 1.3rem;
}

.toolbarline {
  width: 100%;
  height: 0.2rem;
  background-color: var(--ion-color-success);
}

//body

.containerGeral {
  width: 100%;

  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.imageContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imageContainer img {
  border-radius: 0.5rem;
}

.imageContainer h2 {
  margin-top: 1rem;
}

ion-icon {
  margin-right: 0.4rem;
}

.itemLocalizacao {
  margin-bottom: 1rem;
}

h2 {
  font-weight: bold;
}

.dateInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.barLineDivider {
  width: 100%;
  height: 0.2rem;
  background-color: var(--ion-color-success);
}
// area da descrição do evento

h3 {
  font-weight: bold;
}

.containerDescricao {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.descricaoContent {
  text-align: justify;
  padding: 1.2rem;
  color: var(--light-grey-font-color);
}

ion-list > ion-item {
  font-size: 0.9rem;

  color: var(--light-grey-font-color);
}

//botao de cadastrar

.login-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
}

.login-button span {
  text-transform: none;
}
