.cardTitle {
  margin-top: 0.4rem;
  margin-left: 1rem;
}

.cardContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 0.4rem;
}

h4 {
  row-gap: 1px;
}
