.imgContainer {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.inputGroup {
  width: 100%;
  padding: 1rem;
}

.loginQuestions > h6 {
  font-size: small;
}

.loginQuestions {
  display: flex;
  justify-content: space-around;
}

.otherLoginContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.googleLogo {
  margin-top: 1rem;
  background-color: white;
}
