.imgContainer {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputGroup {
  width: 100%;
  padding: 1rem;
}

.loginQuestions > h6 {
  font-size: small;
}

.loginQuestions {
  display: flex;
  justify-content: space-around;
}

.otherLoginContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.googleLogo {
  margin-top: 1rem;
  background-color: white;
}
