<ion-header [translucent]="true" class="ion-header">
  <ion-toolbar>
    <div class="eventosContainer">
      <ion-title>Eventos</ion-title>
      <ion-title
        class="evento"
        [routerLink]="['/meus-eventos']"
        routerLinkActive="router-link-active"
        >Meus Eventos</ion-title
      >
    </div>
  </ion-toolbar>
  <div class="toolbarline"></div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" scrollY="true">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
</ion-content>
