.toolbarLine {
  background-color: var(--ion-color-success);
  width: 100%;
  height: 0.2rem;
}

@media screen and (orientation: landscape) {
  .imageContainer {
    height: 60%;
  }
}

//container imagem/logo

.containerGeral {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imageContainer {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backButton {
  color: var(--ion-color-success);
}
