<ion-header [translucent]="true" class="ion-header">
  <label class="labelContent">
    <h2>Nome do Usuario</h2>
    <ion-icon name="person-circle-outline" class="fotoIcon"> </ion-icon>
    <input type="file" accept="image/*" id="inputImage" />
  </label>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <div class="grid-container">
      <div class="grid-item">
        <ion-item lines="full" class="item-has-focus ion-touched ion-valid">
          <ion-label class="ion-label">Idade: 20 Anos</ion-label>
        </ion-item>
      </div>
      <div class="grid-item">
        <ion-item lines="full" class="item-has-focus ion-touched ion-valid">
          <ion-label class="ion-label">Idade: 20 Anos</ion-label>
        </ion-item>
      </div>
      <div class="grid-item">
        <ion-item lines="full" class="item-has-focus ion-touched ion-valid">
          <ion-label class="ion-label">Idade: 20 Anos</ion-label>
        </ion-item>
      </div>
      <div class="grid-item">
        <ion-item lines="full" class="item-has-focus ion-touched ion-valid">
          <ion-label class="ion-label">Idade: 20 Anos</ion-label>
        </ion-item>
      </div>
      <div class="grid-item">
        <ion-item lines="full" class="item-has-focus ion-touched ion-valid">
          <ion-label class="ion-label">Idade: 20 Anos</ion-label>
        </ion-item>
      </div>
      <div class="grid-item">
        <ion-item lines="full" class="item-has-focus ion-touched ion-valid">
          <ion-label class="ion-label">Idade: 20 Anos</ion-label>
        </ion-item>
      </div>
    </div>
  </ion-card>
</ion-content>
